<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<style>
h2 {
	font-size: 72px;
	background: -webkit-linear-gradient(#dd93e0, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mota {
    border-radius: 5px;
    width: 60vh;
    height: 20vh;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical; /* Allows the user to resize the textarea vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    font-size: 1rem; /* Adjusts the font size */
    color: #333; /* Sets the text color */
    background-color: #f9f9f9; /* Sets a light background color */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for border and shadow */
}

.mota:focus {
    border-color: #007bff; /* Changes border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds a glow effect on focus */
    outline: none; /* Removes default outline */
}
</style>

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS v5.2.1 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous" />
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/quanlyvideo.css">
</head>

<body>
	<main class="container mt-5" style="height: 400px;">
		<div>
			<div class="main">
				<div th:if="${message}" class="alert" th:classappend="${alertClass}" role="alert">
			        <span th:text="${message}"></span>
				</div>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab" tabindex="0">
						<div class="container-fluid">
							<div>

								<div class="row">
									<div class="col-5">
										<div class="row position-relative ">
											<div class="position-absolute start-50 "
												style="margin-left: -40vh;">
												<H2 class="nd mb-3 ">Quản Lý Sản Phẩm</H2>
											</div>
											<br> <br> <br>
											<form th:action="${product == null ? '/add-productsManager' : '/update-productsManager'}" method="post" enctype="multipart/form-data">
    											
												<div class="col mt-5">
												<input type="hidden" name="id" th:value="${product?.id}" />
													<H3>Tên Sản Phẩm</H3>
													<input class="rounded" type="text" style="width: 60vh"
														name="product_name" placeholder="Tên Sản Phẩm" th:value="${product?.product_name}">
													<H3>Giá</H3>
													<input class="rounded" type="number" style="width: 60vh"
														name="price" placeholder="Giá" th:value="${product?.price}">
													<H3>Sô Lượng</H3>
													<input class="rounded"  type="number" style="width: 60vh"
														name="soluong" placeholder="Số lượng sản phẩm" th:value="${product?.soluong}">
													<H3>Danh Mục</H3>
													<select class="rounded" style="width: 60vh; height: 37px;"
														name="categories_id" id="">
														<option selected value="-1">Chọn danh mục</option>
														<option th:each="itemCat : ${categories}" th:value="${itemCat?.id} " 
														th:text="${itemCat?.categories_name}" 
														th:selected="${itemCat?.id == product?.categoryEntity?.id}"></option>
													</select>
													<H3>Mô Tả</H3>
													<textarea class="mota" name="description" placeholder="Mô Tả" th:text="${product?.description}"></textarea>
													<H3>Hình Ảnh</H3>
													<input class="rounded p-1" type="file" style="width: 60vh"
														name="file" multiple accept="image/*">
														<div class="mb-3 image-container d-flex">
													    <div th:each="itemImage : ${product?.imageEntities}">
													    	<table>
													    		<tbody>
													    			<tr>
													    			<td>
													    				<img th:src="'/images/' + ${itemImage.name}" style="width: 50px; height: 50px;"/>
																        <a type="button" style="text-decoration: none; background-color: orange; border-radius: 5px; margin: 4px;"
																        th:href="@{/delete-image(id=${itemImage.id})}">Xóa</a>
													    			</td>
													    			</tr>
													    		</tbody>
													    	</table>
													    </div>
													</div>
												</div>
													<button type="submit" class="btn btn-primary btn-1" 
													th:text="${product == null} ? 'Thêm' : 'Cập Nhật'"></button>
													<a class="btn btn-info btn-4" th:href="@{/refreshForm}">Làm mới</a>
											</form>
										</div>
									</div>
									<div class="col-7">
										<div class="row">
											<form class="d-flex ms-auto" th:action="@{/searchProd}"
												method="get" >
												<div class="d-flex">
													<input class="form-control me-2" type="search"
														placeholder="Tìm kiếm" name="product_name" style="width: 672px;"/>
													<button class="btn btn-outline-success" type="submit">Tìm</button>
												</div>
											</form>
											<div class="d-flex" style="margin-top: 10px;">
								                <a type="button" id="hiddenButton" class="btn btn-primary" style="width: 140px; margin-right: 10px" th:href="@{/products-hidden}">Sản phẩm ẩn</a>
								                <a type="button" id="visibleButton" class="btn btn-primary" style="width: 140px; margin-right: 10px" th:href="@{/products-visible}">Sản phẩm hiện</a>
								            	<form class="d-flex ms-auto" th:action="@{/searchMinMax}"
													method="get" >
													<div class="d-flex">
														<input class="form-control me-2" type="search"
															placeholder="Giá thấp nhất" name="minPrice" style="width: 170px;"/>
														<input class="form-control me-2" type="search"
															placeholder="Giá cao nhất" name="maxPrice" style="width: 170px;"/>
														<button class="btn btn-outline-success" type="submit">Tìm</button>
													</div>
												</form>
								            </div>
								            
										</div>
										
										<div class="table-responsive">
											<table class="table mt-4 table table-hover table table-sm ">
											<thead>
							                    <tr>
							                        <th>Mã</th>
							                        <th>Tên</th>
							                        <th>Giá</th>
							                        <th>Số Lượng</th>
							                        <th>Danh mục</th>
							                        <th>Hình Ảnh</th>
							                        <th>Mô Tả</th>
							                        <th>Ẩn SP</th>
							                        <th>Hành Động</th>
							                    </tr>
							                </thead>
							                <tbody>
							                    <tr th:each="item : ${products}">
							                        <td th:text="${item.id}"></td>
							                        <td th:text="${item.product_name}"></td>
							                        <td th:text="${#numbers.formatCurrency(item.price)}"></td>
							                        <td th:text="${item.soluong}"></td>
							                        <td th:text="${item.categoryEntity.categories_name}"></td>
							                        <td>
													    <div style="position: relative; width: 100px; height: 100px;">
													        <div th:each="item : ${item.imageEntities}">
													            <img th:src="'/images/' + ${item.name}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"/>
													        </div>
													    </div>
													</td>
							                        <td>
													    <button type="button" class="btn btn-info" data-bs-toggle="modal" th:data-bs-target="'#descriptionModal' + ${item.id}" style="margin-top: 15px;">Xem mô tả</button>
													    <div class="modal fade" th:id="'descriptionModal' + ${item.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
													        <div class="modal-dialog">
													            <div class="modal-content">
													                <div class="modal-header">
													                    <h5 class="modal-title" id="exampleModalLabel">Mô tả sản phẩm</h5>
													                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													                </div>
													                <div class="modal-body">
													                    <p th:if="${item.description != null and !#strings.isEmpty(item.description)}" th:text="${item.description}"></p>
													                    <p th:if="${item.description == null or #strings.isEmpty(item.description)}">Không có mô tả cho sản phẩm này</p>
													                </div>
													                <div class="modal-footer">
													                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
													                </div>
													            </div>
													        </div>
													    </div>
													</td>
							                        <td>
													    <input type="checkbox" th:checked="${item.hien}" th:onclick="'updateStatus(' + ${item.id} + ', ' + this.checked + ')'" 
													    style="margin-top: 45px; margin-left: 15px;"/>
													</td>
							                        <td>
							                        	<a class="btn btn-primary" style="margin-top: 30px;" th:href="'/update-productsManager?id=' + ${item.id}">Chỉnh</a>
							                        </td>
							                    </tr>
							                </tbody>
										</table>
										</div>
										<nav class="tohop" aria-label="Page navigation example">
								            <ul class="pagination">
								                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
								                    <a class="page-link" th:href="@{'/productsManager?page=' + ${currentPage - 1} + '&size=5'}">Previous</a>
								                </li>
								                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
								                    <a class="page-link" th:href="@{'/productsManager?page=' + ${i} + '&size=5'}" th:text="${i + 1}">1</a>
								                </li>
								                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
								                    <a class="page-link" th:href="@{'/productsManager?page=' + ${currentPage + 1} + '&size=5'}">Next</a>
								                </li>
								            </ul>
								        </nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<!-- place footer here -->
	</footer>
	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
</body>

</html>