<!doctype html>
<html lang="en">

<head>
    <title>id sản phảm</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <div class="container">
            <div class="row mt-3">
                <div class="col-5">
                    <div id="carouselId" class=" carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true">
                            </li>
                            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
                        </div>
                        <div class="carousel-inner img-thumbnail" style="height: 600px;" role="listbox">
                            <div class=" carousel-item active">
                                <img height="600px"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuMzdqehsDEDbXTxryJnsrXGU_lIQnSlIWag-zgqKaXA&s"
                                    class="w-100 d-block" alt="First slide" />
                            </div>
                            <div class="carousel-item">
                                <img height="600px"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyRex7sIWzXZCZF09MioICPVHN3e7gexDzKDKBckIWMvoYF61tKvziNQRzRDymjQj5Fqo&usqp=CAU"
                                    class="w-100 d-block" alt="Second slide" />
                            </div>
                            <div height="600px" class="carousel-item">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRta_uKp41D578xX8qjWXzzFbPRcDy6XxO574IcKYpxOZ-qD5bBBD2bv6aWsybUKmeRA&usqp=CAU"
                                    class="w-100 d-block" alt="Third slide" />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-7">
                    <h3>Màn hình Monitor Xiaomi 27 inch A27i ELA5345EU
                    </h3>
                    <h5 class="text-danger"><strong>500.000đ</strong></h5>
                    <hr>
                    <div class="row">
                        <h5>CHI TIẾT SẢN PHẨM</h5> <br><br>
                        <div class="col-3">
                            <p>Danh mục</p>
                            <p>Nhà sản xuất</p>
                            <p>Nhà cung cấp</p>
                            <p>Màn hình</p>
                            <p>Tấm nền</p>
                            <p>Độ phân giải</p>
                            
                        </div>
                        <div class="col-9">
                            <p>Màn hình rời</p>
                            <p>Cao đẳng FTP Cần Thơ</p>
                            <p>Gear Poly</p>
                            <p>24 inch</p>
                            <p>IPS 100%sRPG</p>
                            <p>Full HD (1920 x 1080)</p>
                        </div>
                    </div><br><br><br><br>
                    <div class="row">
                        <div class="col-2">
                            <div class="mb-3">
                                <label for="" class="form-label">Số lượng</label>
                            </div>
                        </div>
                        <div class="col-5">
                            <form class="d-flex">
                                <button class="btn btn-danger" type="submit"
                                    style="width: 40px; border-radius: 10px 0 0 10px;">-</button>
                                <input class="form-control me-0" type="number" value="1" min="1"
                                    style="width: 100px; border-radius: 0px;">
                                <button class="btn btn-primary" type="submit"
                                    style="width: 40px; border-radius: 0 10px 10px 0;">+</button>
                            </form><br>

                        </div>
                    </div>
                    <form class="d-flex">
                        <a  name="" id="" class="btn btn-outline-danger " href="#" role="button">Thêm vào giỏ
                            hàng</a>
                        <a style="margin-left: 10px;" name="" id="" class="btn btn-primary " href="/user/taohoadon" target="_parent" role="button">Mua sản phảm</a>
                    </form>

                </div>
            </div>
            <hr>
            <h4>MÔ TẢ SẢN PHẨM</h4>
            <p>Màn hình Xiaomi A27 Ela5345EU 27 inch là sự kết hợp hoàn hảo giữa thiết kế tinh tế và hiệu suất đỉnh cao.
                Với kích thước rộng 27 inch, độ phân giải cao và màu sắc chân thực, thiết bị màn hình Xiaomi này mang
                lại trải nghiệm xem hình ảnh và video tuyệt vời. Đây chính là sự lựa chọn lý tưởng cho những người đòi
                hỏi chất lượng và thẩm mỹ trong trải nghiệm hiển thị.</p>
            <hr>
            <h4>SẢN PHẢM TƯƠNG TỰ</h4><br>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuMzdqehsDEDbXTxryJnsrXGU_lIQnSlIWag-zgqKaXA&s"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Màn hình </h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="text-danger"><strong>500.000đ</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuMzdqehsDEDbXTxryJnsrXGU_lIQnSlIWag-zgqKaXA&s"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Màn hình </h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="text-danger"><strong>500.000đ</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuMzdqehsDEDbXTxryJnsrXGU_lIQnSlIWag-zgqKaXA&s"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Màn hình </h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="text-danger"><strong>500.000đ</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuMzdqehsDEDbXTxryJnsrXGU_lIQnSlIWag-zgqKaXA&s"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Màn hình </h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="text-danger"><strong>500.000đ</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">

    </footer>
    <!-- Footer -->
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>