<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Tạo hóa đơn</title>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS v5.2.1 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>
<style>
	.image-container {
	    position: relative;
	    width: 50px;
	    height: 50px;
	}

	.main-image {
	    position: relative;
	    z-index: 2;
	}

	.second-image {
	    position: absolute;
	    top: 0;
	    left: 20px; /* Điều chỉnh giá trị này để điều chỉnh khoảng cách bên phải */
	    opacity: 0.8;
	    z-index: 1;
	}

	.third-image {
	    position: absolute;
	    top: 0;
	    left: 40px; /* Điều chỉnh giá trị này để điều chỉnh khoảng cách bên phải */
	    opacity: 0.7;
	    z-index: 0;
	}

	.more-images {
	    position: absolute;
	    top: -8px;
	    left: 80px; /* Điều chỉnh giá trị này để điều chỉnh khoảng cách bên phải */
	    z-index: 0;
	    border-radius: 50%;
		background-color: white; /* Màu nền cho số lượng ảnh còn lại */
	    padding: 5px;
	}
</style>
<body>
	<header>
		<!-- place navbar here -->
	</header>
	<main>
		<div class="row">
			<div class="col">

			</div>
			<div class="col-8 img-thumbnail">
				<form action="/taohoadon" method="post">
					<input type="hidden" name="id" th:value="${account?.id}">
					<h3 class="text-center text-danger mt-4">THÔNG TIN THANH TOÁN</h3>
					<div class="mb-3">
						<label for="" class="form-label">Họ và tên</label>
						<input type="text" name="fullname" th:value="${account?.fullname}" class="form-control" id=""
							aria-describedby="helpId" placeholder="" />
						<p class="text-danger" th:text="${message1}"></p>
					</div>
					<div class="mb-3">
						<label for="" class="form-label">Số điện thoại</label>
						<input type="text" name="phone" th:value="${account?.phone}" class="form-control" id=""
							aria-describedby="helpId" placeholder="" />
						<p class="text-danger" th:text="${message2}"></p>
					</div>
					<label for="" class="form-label">Địa chỉ nhận hàng</label>
					<div class="mb-3">
						<textarea name="address" th:text="${account?.address}" id=""
							style="width: 100%;height: 100px;">Cần Thơ</textarea>
						<p class="text-danger" th:text="${message3}"></p>
					</div>
					<input type="hidden" th:value="${account?.email}" name="email" >
					<h4>Sản phẩm đã chọn</h2>
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>STT</th>
										<th class="text-center" scope="col" style="width: 115px;" >Hình ảnh</th>
										<th scope="col">Tên sản phẩm</th>
										<th>Giá</th>
										<th scope="col">Số lượng</th>
										<th>Tổng giá</th>
									</tr>
								</thead>
								<tbody class="table-group-divider" th:each="item,index:${sanpham}">
									<tr class="align-middle">
										<input name="idsanpham" type="hidden" th:value="${item?.productEntity.id}" >
										<td th:text="${index.index + 1}">1</td>
										<td scope="row">
										    <div class="text-nowrap">
										        <div class="image-container">
										            <img th:if="${item.productEntity.imageEntities.size() > 0}"
										                 th:src="@{'/images/' + ${item.productEntity.imageEntities[0].name}}"
										                 class="rounded mx-auto d-inline-block align-middle main-image" width="50px" height="50px" alt="">

										            <img th:if="${item.productEntity.imageEntities.size() > 1}"
										                 th:src="@{'/images/' + ${item.productEntity.imageEntities[1].name}}"
										                 class="rounded mx-auto d-inline-block align-middle second-image" width="50px" height="50px" alt="">

										            <img th:if="${item.productEntity.imageEntities.size() > 2}"
										                 th:src="@{'/images/' + ${item.productEntity.imageEntities[2].name}}"
										                 class="rounded mx-auto d-inline-block align-middle third-image" width="50px" height="50px" alt="">

										            <small th:if="${item.productEntity.imageEntities.size() > 3}"
										                  class="align-middle more-images">
										                +<small th:text="${item.productEntity.imageEntities.size() - 3}"></small>
										            </small>
										        </div>
										    </div>
										</td>
										<td th:text="${item?.productEntity?.product_name}">Màn hình</td>
										<td th:text="${#numbers.formatDecimal(item?.productEntity?.price, 1, 'COMMA', 0, 'POINT')} + ' VNĐ'"
											class="text-danger">500.000đ</td>
										<td th:text="${item?.quantity}">1</td>
										<td th:text="${#numbers.formatDecimal(item?.price, 1, 'COMMA', 0, 'POINT')} + ' VNĐ'"
											class="text-danger">500.000đ</td>
									</tr>
								</tbody>
							</table>
							<hr>
							<div class="d-flex align-items-center">
								<button type="submit" class="btn btn-primary mb-2" href="#" role="button">Mua sản
									phẩm</button>
								<a class="btn btn-danger ms-1 mb-2" href="/cart" role="button">Hủy</a>
								<h5 class="text-danger ms-auto"
									th:text="'Tổng tiền: '+${#numbers.formatDecimal(total, 1, 'COMMA', 0, 'POINT')} + ' VNĐ'"
									style="margin-left: 315px;">Tổng giá: 3.000.000đ</h5>
							</div>
						</div>
				</form>
			</div>
			<div class="col">

			</div>
		</div>


	</main>
	<footer>
	</footer>
	<!-- Bootstrap JavaScript Libraries -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
</body>

</html>